.game__container {
	width : 100%;
	height : 100%;
	display : flex;
	background-color : var(--game__container__bg-color);
	flex-direction : column;
}

.game__punchline-container {
	flex : var(--game__punchline-container__flex);
	display : flex;
	align-items: center;
  	justify-content: center;
}

.game__punchline {
	color : var(--game__punchline__color);
	font-size : var(--game__normal__font-size);
}

.game__name-container {
	flex : var(--game__name-container__flex);
	display : flex;
	align-items: center;
  	justify-content: center;
}

.game__name {
	color : var(--game__name__color);
	font-weight : bold;
	font-style : italic;
	font-size : var(--game__name__font-size);
}

.game__buttons-container {
	display : flex;
	flex-direction : row;
	flex : var(--game__buttons-container__flex);
}

.game__correct {
	border : none;
	background-color : var(--game__correct__bg-color);
	color : var(--game__correct__color);
	flex : 1;
	font-size : var(--game__normal__font-size);
}

.game__wrong {
	border : none;
	background-color : var(--game__wrong__bg-color);
	color : var(--game__wrong__color);
	flex : 1;
	font-size : var(--game__normal__font-size);
}

.game__modal-background {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	transition : top 250ms;
	background : rgba(160,160,160,0.6);
}

.game__modal-background--hidden {
	top : 100%;
}

.game__modal {
	display : flex;
	background-color : white;
	flex-direction : column;
	height : 50%;
	width : 50%;
	top: 25%;
	position: fixed;
	left: 25%;
	transition : top 250ms;
}

.game__modal--hidden {
	top : 125%;
}

.game__result-container {
	display : flex;
	align-items: center;
  	justify-content: center;
	flex: 1;
}

.game__result {
	flex: 3;
	text-align : center;
	font-size : var(--game__normal__font-size);
}


.game__replay {
	flex: 1;
	border : none;
	background-color : var(--game__replay__bg-color);
	color : var(--game__correct__color);
	font-size : var(--game__normal__font-size);
}