:root {
	--game__container__bg-color: purple;

	--game__correct__bg-color: green;
	--game__correct__color: white;

	--game__wrong__bg-color: red;
	--game__wrong__color: white;
	--game__buttons-container__flex: 1;

	--game__punchline__color: white;
	--game__punchline-container__flex: 1;

	--game__name__color: white;
	--game__name__font-size: 300%;
	--game__name-container__flex: 2;

	--game__replay__bg-color: blueviolet;
}

body {
	margin : 0;
}